In [187]:
import pandas as pd 
import psycopg2
import plotly.express as px
import requests
import json

In [161]:
#DataFrame Creation from SQL

#SQL Connection

mydb=psycopg2.connect(host="localhost",
                    user="postgres",
                    password="rihana",
                    database="phonepe_data",
                    port="5432")
cursor=mydb.cursor()


#Aggregated_Insurance_DF

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1=cursor.fetchall()

Aggre_insurance= pd.DataFrame(table1,columns=("State", "Year", "Quarter", "Transaction_type", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Aggre_insurance

In [55]:
#Aggregated_Transaction_DF

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2=cursor.fetchall()

Aggre_transaction= pd.DataFrame(table2,columns=("State", "Year", "Quarter", "Transaction_type", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Aggre_transaction

In [56]:
#Aggregated_User_DF

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3=cursor.fetchall()

Aggre_user= pd.DataFrame(table3,columns=("State", "Year", "Quarter", "Brands", "Transaction_count",
                                              "Percentage"))

In [ ]:
Aggre_user

In [57]:
#Map_Insurance_DF

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4=cursor.fetchall()

Map_insurance= pd.DataFrame(table4,columns=("State", "Year", "Quarter", "District", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Map_insurance

In [58]:
#Map_Transaction_DF

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5=cursor.fetchall()

Map_transaction= pd.DataFrame(table5,columns=("State", "Year", "Quarter", "District", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Map_transaction

In [59]:
#Map_User_DF

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6=cursor.fetchall()

Map_user= pd.DataFrame(table6,columns=("State", "Year", "Quarter", "District", "RegisteredUser",
                                              "AppOpens"))

In [ ]:
Map_user

In [60]:
#Top_Insurance_DF

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7=cursor.fetchall()

Top_insurance= pd.DataFrame(table7,columns=("State", "Year", "Quarter", "Pincode", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Top_insurance

In [61]:
#Top_Transaction_DF

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8=cursor.fetchall()

Top_transaction= pd.DataFrame(table8,columns=("State", "Year", "Quarter", "Pincode", "Transaction_count",
                                              "Transaction_amount"))

In [ ]:
Top_transaction

In [62]:
#Top_User_DF

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9=cursor.fetchall()

Top_user= pd.DataFrame(table9,columns=("State", "Year", "Quarter", "Pincode", "RegisteredUser"))

In [ ]:
Top_user

In [63]:
#Transaction by Year

def Transaction_amount_count_Y(df,year):

    tacy= df[df["Year"] == year]
    tacy.reset_index(drop = True, inplace= True)

    tacyg= tacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="State", y="Transaction_amount", title=f"{year} TRANSACTION AMOUNT",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="State", y="Transaction_count", title=f"{year} TRANSACTION COUNT",
                            color_discrete_sequence=px.colors.sequential.Blackbody)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1= px.choropleth(tacyg, geojson= data1, locations= "State", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Sunsetdark",
                                range_color= (tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name= "State",title = f"{year} TRANSACTION AMOUNT",
                                fitbounds= "locations",width =600, height= 600)
    fig_india_1.update_geos(visible =False)

    fig_india_1.show()


    fig_india_2= px.choropleth(tacyg, geojson= data1, locations= "State", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "Sunsetdark",
                                range_color= (tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name= "State",title = f"{year} TRANSACTION COUNT",
                                fitbounds= "locations",width =600, height= 600)
    fig_india_2.update_geos(visible =False)

    fig_india_2.show()

    return tacy

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance,2023)

In [64]:
#Transaction by Quarter

def Transaction_amount_count_Y_Q(df,quarter):

    tacy= df[df["Quarter"] == quarter]
    tacy.reset_index(drop = True, inplace= True)

    tacyg= tacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount= px.bar(tacyg, x="State", y="Transaction_amount", title=f"{tacy['Year'].min()} YEAR {quarter} QUATER TRANSACTION AMOUNT",
                            color_discrete_sequence=px.colors.sequential.Aggrnyl)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="State", y="Transaction_count", title=f"{tacy['Year'].min()} YEAR {quarter} QUATER TRANSACTION COUNT",
                            color_discrete_sequence=px.colors.sequential.Blackbody)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response=requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1= px.choropleth(tacyg, geojson= data1, locations= "State", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "Sunsetdark",
                                range_color= (tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name= "State",title = f"{tacy['Year'].min()} YEAR {quarter} QUATER TRANSACTION AMOUNT",
                                fitbounds= "locations",width =600, height= 600)
    fig_india_1.update_geos(visible =False)

    fig_india_1.show()


    fig_india_2= px.choropleth(tacyg, geojson= data1, locations= "State", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "Sunsetdark",
                                range_color= (tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name= "State",title = f"{tacy['Year'].min()} YEAR {quarter} QUATER TRANSACTION COUNT",
                                fitbounds= "locations",width =600, height= 600)
    fig_india_2.update_geos(visible =False)

    fig_india_2.show()

    return tacy

In [65]:
#Transaction Type by State wise

def Aggre_Tran_Type(df, state):

    tacy= df[df ["State"] == state]
    tacy.reset_index(drop = True, inplace= True)

    tacyg= tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_pie_1= px.pie(data_frame=tacyg, names="Transaction_type", values="Transaction_amount", width=600,
                    title=f"{state.upper()} TRANSACTION AMOUNT", hole=0.5)

    fig_pie_1.show()

    fig_pie_2= px.pie(data_frame=tacyg, names="Transaction_type", values="Transaction_count", width=600,
                    title=f"{state.upper()} TRANSACTION COUNT", hole=0.5)

    fig_pie_2.show()

In [66]:
#Aggregated user analysis by year 

def Aggre_user_plot_1(df, year):

    aguy = df[df["Year"]==year]
    aguy.reset_index(drop=True, inplace=True)

    aguyg= pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyg, x="Brands", y="Transaction_count", title= f"{year} BRANDS VS TRANSACTION COUNT", width = 950, 
                    color_discrete_sequence= px.colors.sequential.algae_r,hover_name= "Brands")
    fig_bar_1.show()

    return aguy

In [67]:
#Aggregated User Analysis by quarter 

def Aggre_user_plot_2(df,quarter):

    aguyq = df[df["Quarter"]==quarter]
    aguyq.reset_index(drop=True, inplace=True)

    aguyqg= pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyqg, x="Brands", y="Transaction_count", title=f"{quarter} QUARTER BRANDS VS TRANSACTION COUNT", width = 950, 
                    color_discrete_sequence= px.colors.sequential.algae_r,hover_name= "Brands")
    fig_bar_1.show()
    return aguyq

In [68]:
#Aggregated user analysis by State

def Aggre_user_plot_3(df,state):

    auyqs= df[df["State"] == state]
    auyqs.reset_index(drop= True, inplace=True)

    fig_line_1= px.line(auyqs, x="Brands", y="Transaction_count", hover_data="Percentage", markers=True,
                        title="BRANDS with TRANSACTION and their PERCENTAGE", width=1000)

    fig_line_1.show()

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

In [69]:
#Transaction Type by MAP Transaction-- District

def Map_insurance_District(df, state):

    tacy= df[df ["State"] == state]
    tacy.reset_index(drop = True, inplace= True)

    tacyg= tacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_bar_1= px.bar(data_frame=tacyg, x="Transaction_amount", y="District", orientation="h",title=f"{state.upper()} DISTRICTS WITH TRANSACTION AMOUNT", 
                      color_discrete_sequence=px.colors.sequential.Brwnyl_r)

    fig_bar_1.show()

    fig_bar_2= px.bar(data_frame=tacyg, x="Transaction_count", y="District", orientation="h",title=f"{state.upper()} DISTRICTS WITH TRANSACTION COUNT", 
                      color_discrete_sequence=px.colors.sequential.Blugrn_r)

    fig_bar_2.show()

In [70]:
# MAP User analysis by YEAR

def map_user_plot_1(df,year):
    muy = df[df["Year"]== year]
    muy.reset_index(drop=True, inplace=True)

    muyg= muy.groupby("State")[["RegisteredUser","AppOpens"]].sum()
    muyg.reset_index(inplace=True)

    fig_line_1_Map= px.line(muyg, x="State", y=["RegisteredUser","AppOpens"], markers=True, width=1000, height=800,
                        title=f"{year} REGISTERED USER AND APP OPENS")

    fig_line_1_Map.show()

    return muy

In [71]:
# MAP User analysis by QUARTER

def map_user_plot_2(df,quarter):
    muyq = df[df["Quarter"]== quarter]
    muyq.reset_index(drop=True, inplace=True)

    muyqg= muyq.groupby("State")[["RegisteredUser","AppOpens"]].sum()
    muyqg.reset_index(inplace=True)

    fig_mapline_2= px.line(muyqg, x="State", y=["RegisteredUser","AppOpens"], markers=True, width=1000, height=800,
                        title=f"{quarter} QUARTER REGISTERED USER AND APP OPENS", 
                        color_discrete_sequence= px.colors.sequential.BuPu_r)

    fig_mapline_2.show()

    return muyq

In [72]:
# MAP USER ANALYSIS BY REGISTERED USER AND APP OPENS

def map_user_plot_3(df,state):
    muyqs = df[df["State"]== state]
    muyqs.reset_index(drop=True, inplace=True)

    fig_mapuser_bar_1= px.bar(muyqs, x="RegisteredUser", y="District", orientation= "h", title="REGISTERED USER", 
                        height= 800, color_discrete_sequence=px.colors.sequential.Rainbow_r)


    fig_mapuser_bar_1.show()

    fig_mapuser_bar_2= px.bar(muyqs, x="AppOpens", y="District", orientation= "h", title="APP OPENS", 
                        height= 800, color_discrete_sequence=px.colors.sequential.Rainbow)


    fig_mapuser_bar_2.show()

In [110]:
# Top Insurance analysis by Pincode 

def Top_insurance_plot_1(df, state):
    tiy= df[df["State"]== state]
    tiy.reset_index(drop=True, inplace=True)

    tiyg= tiy.groupby("Pincode")[["Transaction_count","Transaction_amount"]].sum()
    tiyg.reset_index(inplace=True)

    fig_bar_6= px.bar(tiy, x="Quarter", y="Transaction_amount", title="TRANSACTION AMOUNT", height= 800, 
                      hover_data="Pincode", color_discrete_sequence=px.colors.sequential.Rainbow)


    fig_bar_6.show()

    fig_bar_7= px.bar(tiy, x="Quarter", y="Transaction_count", title="TRANSACTION COUNT", height= 800, 
                      hover_data="Pincode", color_discrete_sequence=px.colors.sequential.algae )


    fig_bar_7.show()

In [128]:
# Top user analysis by year 

def top_user_plot_1(df, year):
    tuy= df[df["Year"]== year]
    tuy.reset_index(drop=True, inplace=True)

    tuyg= pd.DataFrame(tuy.groupby(["State", "Quarter"])["RegisteredUser"].sum())
    tuyg.reset_index(inplace=True)

    fig_bar_8 = px.bar(tuyg, x="State", y="RegisteredUser", color= "Quarter",height= 800, width= 1000,
                    hover_data="State", title=f"{year} REGISTERED USERS",
                    color_discrete_sequence= px.colors.sequential.BuPu_r)
    fig_bar_8.show()

    return tuy

In [ ]:
# Top user analysis by pincodes

def top_user_plot_2(df, state):

    tuys= df[df["State"]== state]
    tuys.reset_index(drop=True, inplace=True)

    fig_bar_9= px.bar(tuys, x="Quarter", y="RegisteredUser", title="REGISTERED USER VS PINCODE VS QUARTER", height= 800, 
                        width =1000, hover_data="Pincode", color = "RegisteredUser",
                        color_continuous_scale = px.colors.sequential.Magenta)

    fig_bar_9.show()

## Aggregated insurance

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance,2022)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 3)

## Aggregated Transaction

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y(Aggre_transaction,2022)

In [ ]:
Aggre_Tran_Type(Aggre_tran_tac_Y ,"Tamil Nadu")

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y ,3)

In [ ]:
Aggre_Tran_Type(Aggre_tran_tac_Y_Q ,"Tamil Nadu")

### Aggregated User

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

In [ ]:
Aggre_user_Y= Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y,4)

### MAP INSURANCE

In [ ]:
Map_insurance_tac_Y = Transaction_amount_count_Y(Map_insurance,2022)

In [ ]:
Map_insurance_District(Map_insurance_tac_Y,"Tamil Nadu")

In [ ]:
Map_insurance_tac_Y_Q = Transaction_amount_count_Y_Q(Map_insurance_tac_Y,3)

In [ ]:
Map_insurance_District(Map_insurance_tac_Y_Q ,"Tamil Nadu")

### MAP TRANSACTION

In [ ]:
Map_Tran_tac_Y= Transaction_amount_count_Y(Map_transaction,2022)

In [ ]:
Map_insurance_District(Map_Tran_tac_Y,"Tamil Nadu")

In [ ]:
Map_Tran_tac_Y_Q = Transaction_amount_count_Y_Q(Map_Tran_tac_Y,3)

In [ ]:
Map_insurance_District(Map_Tran_tac_Y_Q ,"Tamil Nadu")

### MAP USER

In [ ]:
Map_user_Y= map_user_plot_1(Map_user,2023)

In [ ]:
Map_user_Y_Q= map_user_plot_2(Map_user_Y,3)

In [ ]:
map_user_plot_3(Map_user_Y_Q, "Tamil Nadu")

In [ ]:
"""fig_mapuser_bar_2= px.bar(muyqs, x="AppOpens", y="District", orientation= "h", title="APP OPENS", 
                    height= 800, color_discrete_sequence=px.colors.sequential.Rainbow)


st.plotly_chart(fig_mapuser_bar_2)"""

### TOP INSURANCE

In [ ]:
Top_insurance_tac_Y = Transaction_amount_count_Y(Top_insurance,2022)

In [ ]:
Top_insurance_tac_Y

In [ ]:
Top_insurance_tac_Y_Q = Transaction_amount_count_Y_Q(Top_insurance_tac_Y,3)

In [ ]:
Top_insurance_plot_1(Top_insurance_tac_Y,"Tamil Nadu")

### TOP TRANSACTION

In [ ]:
Top_trans_tac_Y = Transaction_amount_count_Y(Top_transaction,2022)

In [ ]:
Top_insurance_plot_1(Top_trans_tac_Y,"Tamil Nadu")

In [ ]:
Top_trans_tac_Y_Q = Transaction_amount_count_Y_Q(Top_trans_tac_Y,3)

### TOP USER

In [ ]:
top_user_plot_1(Top_user, 2020)

In [ ]:
Top_user_Y = top_user_plot_1(Top_user, 2023)

### TOP CHARTS

In [194]:
#SQL Connection

#  TOP CHARTS FOR INSURANCE TRANSACTION AMOUNT 

def top_chart_insur_transaction_amount(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    #PLOT 1

    query1= f'''SELECT state, SUM(insurance_amount) AS transaction_amount FROM {table_name} GROUP BY state
                ORDER BY transaction_amount  DESC LIMIT 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()

    df_1= pd.DataFrame(table, columns=("States", "Transaction_Amount"))
    df_1

    fig_bar_10 = px.bar(df_1, x="States", y="Transaction_Amount", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "States")
    fig_bar_10.show()

    # PLOT 2

    query2= f'''SELECT state, SUM(insurance_amount) AS transaction_amount FROM {table_name} GROUP BY state
                ORDER BY transaction_amount LIMIT 10;'''

    cursor.execute(query2)
    table = cursor.fetchall()
    mydb.commit()

    df_2= pd.DataFrame(table, columns=("States", "Transaction_Amount"))
    df_2

    fig_bar_11 = px.bar(df_2, x="States", y="Transaction_Amount", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "States")
    fig_bar_11.show()


    # PLOT 3

    query3= f'''SELECT state, AVG(insurance_amount) AS transaction_amount FROM {table_name}
            GROUP BY state ORDER BY transaction_amount;'''

    cursor.execute(query3)
    table = cursor.fetchall()
    mydb.commit()

    df_3= pd.DataFrame(table, columns=("States", "Transaction_Amount"))
    df_3

    fig_bar_12 = px.bar(df_3, x="Transaction_Amount", y="States", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "States")
    fig_bar_12.show()

In [ ]:
top_chart_insur_transaction_amount("aggregated_insurance")

In [205]:
# TOP CHARTS FOR INSURANCE TRANSACTION COUNT 

def top_chart_insur_transaction_count(table_name):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    # PLOT 4

    query4= f'''SELECT state, SUM(insurance_count) AS transaction_count FROM {table_name} GROUP BY state
                ORDER BY transaction_count  DESC LIMIT 10;'''

    cursor.execute(query4)
    table = cursor.fetchall()
    mydb.commit()

    df_4= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_13 = px.bar(df_4, x="States", y="Transaction_Count", title=  "TRANSACTION COUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "States")
    fig_bar_13.show()

    # PLOT 5

    query5= f'''SELECT state, SUM(insurance_count) AS transaction_count FROM {table_name} GROUP BY state
                ORDER BY transaction_count LIMIT 10;'''

    cursor.execute(query5)
    table = cursor.fetchall()
    mydb.commit()

    df_5= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_14 = px.bar(df_5, x="States", y="Transaction_Count", title=  "TRANSACTION COUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "States")
    fig_bar_14.show()


    # PLOT 6

    query6= f'''SELECT state, AVG(insurance_count) AS transaction_count FROM {table_name}
            GROUP BY state ORDER BY transaction_count;'''

    cursor.execute(query6)
    table = cursor.fetchall()
    mydb.commit()

    df_6= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_15 = px.bar(df_6, x="Transaction_Count", y="States", title=  "TRANSACTION COUNT", height =800,width = 1000, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "States")
    fig_bar_15.show()

In [ ]:
top_chart_insur_transaction_count("aggregated_insurance")

In [207]:
#  TOP CHARTS FOR TRANSACTION AMOUNT 

def top_chart_trans_transaction_amount(table_name):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    #PLOT 7

    query7= f'''SELECT state, SUM(transaction_amount) AS transaction_amount FROM {table_name} 
                    GROUP BY state ORDER BY transaction_amount  DESC LIMIT 10;'''

    cursor.execute(query7)
    table = cursor.fetchall()
    mydb.commit()

    df_7= pd.DataFrame(table, columns=("States", "Transaction_Amount"))

    fig_bar_16 = px.bar(df_7, x="States", y="Transaction_Amount", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "States")
    fig_bar_16.show()

    # PLOT 8

    query8= f'''SELECT state, SUM(transaction_amount) AS transaction_amount FROM {table_name} GROUP BY state
                ORDER BY transaction_amount LIMIT 10;'''

    cursor.execute(query8)
    table = cursor.fetchall()
    mydb.commit()

    df_8= pd.DataFrame(table, columns=("States", "Transaction_Amount"))

    fig_bar_17 = px.bar(df_8, x="States", y="Transaction_Amount", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "States")
    fig_bar_17.show()


    # PLOT 9

    query9= f'''SELECT state, AVG(transaction_amount) AS transaction_amount FROM {table_name}
            GROUP BY state ORDER BY transaction_amount;'''

    cursor.execute(query9)
    table = cursor.fetchall()
    mydb.commit()

    df_9= pd.DataFrame(table, columns=("States", "Transaction_Amount"))

    fig_bar_18 = px.bar(df_9, x="Transaction_Amount", y="States", title=  "TRANSACTION AMOUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "States")
    fig_bar_18.show()

In [ ]:
top_chart_trans_transaction_amount("map_insurance")

In [209]:
# TOP CHARTS FOR TRANSACTION COUNT 

def top_chart_trans_transaction_count(table_name):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    # PLOT 10

    query10= f'''SELECT state, SUM(transaction_count) AS transaction_count FROM {table_name} GROUP BY state
                ORDER BY transaction_count  DESC LIMIT 10;'''

    cursor.execute(query10)
    table = cursor.fetchall()
    mydb.commit()

    df_10= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_19 = px.bar(df_10, x="States", y="Transaction_Count", title=  "TRANSACTION COUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "States")
    fig_bar_19.show()

    # PLOT 11

    query11= f'''SELECT state, SUM(transaction_count) AS transaction_count FROM {table_name} GROUP BY state
                ORDER BY transaction_count LIMIT 10;'''

    cursor.execute(query11)
    table = cursor.fetchall()
    mydb.commit()

    df_11= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_20 = px.bar(df_11, x="States", y="Transaction_Count", title=  "TRANSACTION COUNT", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "States")
    fig_bar_20.show()


    # PLOT 12

    query12= f'''SELECT state, AVG(transaction_count) AS transaction_count FROM {table_name}
            GROUP BY state ORDER BY transaction_count;'''

    cursor.execute(query12)
    table = cursor.fetchall()
    mydb.commit()

    df_12= pd.DataFrame(table, columns=("States", "Transaction_Count"))

    fig_bar_21 = px.bar(df_12, x="Transaction_Count", y="States", title=  "TRANSACTION COUNT", height =800,width = 1000, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "States")
    fig_bar_21.show()

In [ ]:
top_chart_trans_transaction_count("map_insurance")

In [218]:
#  TOP CHARTS FOR REGISTERED USER 

def top_chart_trans_registereduser(table_name, state):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    #PLOT 13

    query13= f'''SELECT district, SUM(registereduser) as registereduser FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY registereduser DESC LIMIT 10;'''

    cursor.execute(query13)
    table = cursor.fetchall()
    mydb.commit()

    df_13= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_22 = px.bar(df_13, x="district", y="registereduser", title=  "TOP 10 OF REGISTERED USER", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "district")
    fig_bar_22.show()

    # PLOT 14

    query14= f'''SELECT district,SUM(registereduser) as registereduser FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY registereduser LIMIT 10;'''

    cursor.execute(query14)
    table = cursor.fetchall()
    mydb.commit()

    df_14= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_23 = px.bar(df_14, x="district", y="registereduser", title= "LAST 10 OF REGISTERED USERS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "district")
    fig_bar_23.show()


    # PLOT 15

    query15= f'''SELECT district, AVG(registereduser) as registereduser FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY registereduser LIMIT 10;'''

    cursor.execute(query15)
    table = cursor.fetchall()
    mydb.commit()

    df_15= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_24 = px.bar(df_15, x="registereduser", y="district", title=  "AVERAGE OF REGISTERED USERS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "district")
    fig_bar_24.show()

In [ ]:
top_chart_trans_registereduser("map_user", 'Tamil Nadu')

In [220]:
#  TOP CHARTS FOR APP OPENS

def top_chart_trans_appopens(table_name, state):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    #PLOT 16

    query16= f'''SELECT district, SUM(appopens) as appopens FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY appopens DESC LIMIT 10;'''

    cursor.execute(query16)
    table = cursor.fetchall()
    mydb.commit()

    df_16= pd.DataFrame(table, columns=("district", "appopens"))

    fig_bar_25 = px.bar(df_16, x="district", y="appopens", title=  "TOP 10 OF APP OPENS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "district")
    fig_bar_25.show()

    # PLOT 17

    query17= f'''SELECT district,SUM(appopens) as appopens FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY appopens LIMIT 10;'''

    cursor.execute(query17)
    table = cursor.fetchall()
    mydb.commit()

    df_17= pd.DataFrame(table, columns=("district", "appopens"))

    fig_bar_26 = px.bar(df_17, x="district", y="appopens", title= "LAST 10 OF APP OPENS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "district")
    fig_bar_26.show()


    # PLOT 18

    query18= f'''SELECT district, AVG(appopens) as appopens FROM {table_name} WHERE state= '{state}'
                GROUP BY district ORDER BY appopens LIMIT 10;'''

    cursor.execute(query18)
    table = cursor.fetchall()
    mydb.commit()

    df_18= pd.DataFrame(table, columns=("district", "appopens"))

    fig_bar_27 = px.bar(df_18, x="appopens", y="district", title=  "AVERAGE OF APP OPENS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "district")
    fig_bar_27.show()

In [ ]:
top_chart_trans_appopens("map_user", 'Tamil Nadu')

In [222]:
#  TOP CHARTS FOR TOPUSER REGISTERED USER 

def top_chart_top_registereduser(table_name):
    
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="rihana",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

    #PLOT 19

    query19= f'''SELECT state, SUM(registereduser) as Registereduser FROM {table_name} GROUP BY state
                    ORDER BY registereduser DESC LIMIT 10;'''

    cursor.execute(query19)
    table = cursor.fetchall()
    mydb.commit()

    df_19= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_28 = px.bar(df_19, x="district", y="registereduser", title=  "TOP 10 OF REGISTERED USER", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae_r, hover_name= "district")
    fig_bar_28.show()

    # PLOT 20

    query20= f'''SELECT state, SUM(registereduser) as Registereduser FROM {table_name} GROUP BY state
                    ORDER BY registereduser LIMIT 10;'''

    cursor.execute(query20)
    table = cursor.fetchall()
    mydb.commit()

    df_20= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_29 = px.bar(df_20, x="district", y="registereduser", title= "LAST 10 OF REGISTERED USERS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.algae, hover_name= "district")
    fig_bar_29.show()


    # PLOT 21

    query21= f'''SELECT state, AVG(registereduser) as Registereduser FROM {table_name} GROUP BY state
                    ORDER BY registereduser DESC  LIMIT 10;'''

    cursor.execute(query21)
    table = cursor.fetchall()
    mydb.commit()

    df_21= pd.DataFrame(table, columns=("district", "registereduser"))

    fig_bar_30 = px.bar(df_21, x="registereduser", y="district", title=  "AVERAGE OF REGISTERED USERS", height =650,width = 600, 
                    color_discrete_sequence= px.colors.sequential.BuPu_r, orientation ="h", hover_name= "district")
    fig_bar_30.show()

In [ ]:
top_chart_top_registereduser("top_user")